@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(120deg, #e2c35d, #d88771);
  color: #fff;
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
}

header, form {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
}

header {
  font-size: 1.5rem;
}

form input, form button {
  padding: 0.5rem;
  border: none;
  font-size: 2rem;
  background: #fff;
}

form button {
  color: #d88771;
  cursor: pointer;
  transition: all 0.5s ease;
  background: #fff;
}

form button:hover {
  background: #d88771;
  color: #fff;
}
