@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(120deg, #e2c35d, #d88771);
  color: #fff;
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
}

header, form {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
}

header {
  font-size: 1.5rem;
}

form input, form button {
  padding: 0.5rem;
  border: none;
  font-size: 2rem;
  background: #fff;
}

form button {
  color: #d88771;
  cursor: pointer;
  transition: all 0.5s ease;
  background: #fff;
}

form button:hover {
  background: #d88771;
  color: #fff;
}

.todo-container {
  display: flex;
  justify-content: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  background: #fff;
  color: #000;
  margin: 0.5rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s;
}

.todo li {
  flex: 1;
}

.complete-btn, .trash-btn {
  background: #ff6f47;
  color: #fff;
  border: none;
  padding: 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.complete-btn {
  background: #49CC49;
}

.todo-item {
  padding: 0 0.5rem;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.animation {
  transform: translateX(8rem);
  opacity: 0;
}

select {
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #ff6f47;
  cursor: pointer;
  width: 10rem;
  padding: 1rem;
}

.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

.select::after {
  content: '\25BC';
  position: absolute;
  right: 0;
  top: 0;
  background: #ff6f47;
  padding: 1rem;
  pointer-events: none;
  transition: all 0.5s ease;
}

.select:hover::after {
  background: #fff;
  color: #ff6f47;
}
